In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# creating data path to '02 Data'
datapath = r'/Users/gabrielconfrey/Desktop/Data Analysis/Career Foundry/Achievement 4/082023 Instacart Basket Analysis/02 Data'

In [4]:
# Importing df_merged from 4.6
df_merged = pd.read_pickle(os.path.join(datapath, '2 Prepared Data', 'order_merged.pkl'))

In [5]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [6]:
df_merged.drop(['_merge'], axis = 1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7
32404856,758936,203436,prior,1,2,7,7.0,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,prior,1,4,14,7.0,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

#### Dropping unwanted columns again and redefining

In [7]:
df_merged.drop(['eval_set','_merge'], axis = 1)

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7
32404855,31526,202557,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7
32404856,758936,203436,1,2,7,7.0,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,1,4,14,7.0,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [8]:
df_full = df_merged.drop(['eval_set','_merge'], axis = 1)

In [9]:
# Exporting df_full for next time
df_full.to_pickle(os.path.join(datapath, '2 Prepared Data', '47_merged_cleaned.pkl'))

### Beginning Lesson step-by-step

In [10]:
df_sm = df_full[:1000000]

In [11]:
df_sm

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,14,0,15,6.0,30489,2,0,30491,Original Hummus,67,20,7.5
999996,1843600,164632,5,1,19,9.0,30489,2,0,30491,Original Hummus,67,20,7.5
999997,733106,164632,9,2,22,10.0,30489,3,1,30491,Original Hummus,67,20,7.5
999998,1650124,164632,17,6,17,13.0,30489,1,1,30491,Original Hummus,67,20,7.5
999999,3378258,164632,22,6,10,15.0,30489,3,1,30491,Original Hummus,67,20,7.5

In [12]:
df_sm.shape

(1000000, 14)

In [13]:
# Creating function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [14]:
# Applying function
df_sm['price_range'] = df_sm.apply(price_label, axis=1)

/var/folders/t0/2pp7bcps729654l63mn9fmhh0000gn/T/ipykernel_23492/2209096140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sm['price_range'] = df_sm.apply(price_label, axis=1)

In [15]:
# Running value counts
df_sm['price_range'].value_counts()

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [16]:
df_sm['prices'].max()

14.8

### Using loc() instead:

In [17]:
# Import df_full from pkl
df = pd.read_pickle(os.path.join(datapath, '2 Prepared Data', '47_merged_cleaned.pkl'))

In [18]:
# Trying out loc() instead:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range'

In [19]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range'

In [20]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range'

In [21]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range     21860860
Low-range     10126321
High-range      417678
Name: count, dtype: int64

### Value counting for-loops

In [22]:
df['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [23]:
# Running for-loop to create new column of busy-level:
result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Normal")

In [24]:
result

['Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Busiest',
 'Busiest',
 'Busiest',
 'Busiest',
 'Busiest',
 'Normal',
 'Least busy',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Busiest',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Least busy',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Busiest',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Least busy',
 'Least busy',
 'Least busy',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Least busy',
 'Normal',
 'Normal',
 'Normal',
 'Busiest',
 'Busiest',
 'Normal',
 'Normal',
 'Normal',
 ...]

In [25]:
# Creating new colun titled "Traffic level"
df['traffic_level'] = result

In [26]:
df['traffic_level'].value_counts(dropna = False)

traffic_level
Normal        22416875
Busiest        6204182
Least busy     3783802
Name: count, dtype: int64

## Begin Task 4.7

### 2) Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [36]:
df['traffic_level'].value_counts(dropna = False)

traffic_level
Normal        22416875
Busiest        6204182
Least busy     3783802
Name: count, dtype: int64

In [37]:
# Running for-loop to create new column of busy-level:
result2 = []

for value in df["orders_day_of_week"]:
  if value == 0 or value == 1:
    result2.append("Busiest")
  elif value == 3 or value == 4:
    result2.append("Least busy")
  else:
    result2.append("Normal")

In [38]:
# Add new column
df['traffic_level2'] = result2

In [39]:
# Checking success
df.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,traffic_level,traffic_level2
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,Mid-range,Normal,Normal
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal,Least busy
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal,Least busy
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Least busy
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Least busy

### 3) Check values for errors

In [40]:
df['traffic_level2'].value_counts(dropna = False)

traffic_level2
Normal        12916111
Busiest       11864412
Least busy     7624336
Name: count, dtype: int64

#### When tallied, row counts are equal to the sums of the days of the week for which they were looped.

### 4) When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [112]:
# Check header titles
df.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,traffic_level
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,Mid-range,Normal
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy

In [113]:
# Check busiest times of day
df['time_of_order'].value_counts()

time_of_order
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

# Grouping times of day by millions of order:
## Busiest - 10, 11, 14, 15, 13, 12, 16, 9, 17.
## Average - 8, 18, 19
## Low - else

In [44]:
# Creating for-loop for time of day

resulttime = []

for value in df["time_of_order"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9 or value == 17:
    resulttime.append("Most orders")
  elif value == 8 or value == 18 or value == 19:
    resulttime.append("Average")
  else:
    resulttime.append("Fewest")

In [45]:
# Add result to dataframe as "busiest_period_of_day" column
df['busiest_period_of_day'] = resulttime

In [48]:
df.drop(columns = ['busiest_times'])

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,traffic_level,traffic_level2,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,Mid-range,Normal,Normal,Average
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal,Least busy,Fewest
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Normal,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Least busy,Fewest
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Least busy,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,Low-range,Normal,Normal,Most orders
32404855,31526,202557,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,Low-range,Normal,Normal,Most orders
32404856,758936,203436,1,2,7,7.0,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,Mid-range,Normal,Normal,Fewest
32404857,2745165,203436,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,Mid-range,Normal,Least busy,Fewest
32404858,3093936,205420,1,4,14,7.0,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range,Least busy,Least busy,Most orders

In [49]:
# Dropping lesson column 'Traffic_level"
df.drop(columns = ['traffic_level'])

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,traffic_level2,busiest_times,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,195,Soda,77,7,9.0,Mid-range,Normal,Average,Average
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Lowest,Fewest
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Busiest,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Lowest,Fewest
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,Mid-range,Least busy,Busiest,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,Low-range,Normal,Busiest,Most orders
32404855,31526,202557,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,Low-range,Normal,Busiest,Most orders
32404856,758936,203436,1,2,7,7.0,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,Mid-range,Normal,Lowest,Fewest
32404857,2745165,203436,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,Mid-range,Least busy,Lowest,Fewest
32404858,3093936,205420,1,4,14,7.0,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range,Least busy,Busiest,Most orders

In [50]:
df['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders    23205725
Average         4612925
Fewest          4586209
Name: count, dtype: int64

In [51]:
# Export new table as pkl
df.to_pickle(os.path.join(datapath, '2 Prepared Data', '48_cleaned.pkl'))